.vs
.vscode
src/.vs
src/.vscode
*.sln
SanakanTests/bin
SanakanTests/obj
SanakanTests/Properties
GOut
src/updateNow
src/bin
src/obj
src/GOut
src/Properties
src/Pictures/Duel
src/Pictures/Poke
src/nohup.out
src/dump.json
src/Config.json
src/ConfigDebug.json
src/sanakan_key
src/sanakan_key.pub
/UnitTestProject1/obj
/src/Sanakan.csproj.user
